* {
  margin: 0;
  padding: 0;
}

fadebody {
  font-size: 12px;
}

/* CONTAINER-NAVBAR */

.nav-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.logo {
  align-items: center;
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 2em;
  font-family: sans-serif;
  justify-content: center;
  letter-spacing: 6px;
}

.logo span {
  transition: 0.3s;
}

.logo span:hover {
  transform: scale(2);
}

/* MENU BAGIAN TENGAH */

.menu {
  display: flex;
  justify-content: center;
  align-items: end;
}

.menu .menu-cover {
  text-transform: uppercase;
  font-family: sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.menu .menu-cover p {
  margin: 0;
  color: rgb(0, 0, 0);
  padding: 0.5em;
}

.menu .menu-cover p:hover {
  cursor: pointer;
  border-top-left-radius: 0;
  transition: 0.2s;
  transform: translate(-2px, -1px);
  background-color: #ffebeb;
  border-radius: 0.5em;
}

.menu .menu-cover .kontak p:hover {
  background-color: #006cf9;
  color: white;
}

.menu .menu-cover .box .kolom {
  display: flex;
  position: absolute;
  background-color: rgb(120, 120, 167);
  left: 0;
}

.menu .menu-cover .box.toggle {
  display: none;
}

/* MENU BAGIAN KANAN */

.nav-container .log-in {
  display: flex;
  justify-content: center;
}

.nav-container .log-in .container-login {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.nav-container .log-in .container-login :nth-child(1),
.nav-container .log-in .container-login :nth-child(2),
.nav-container .log-in .container-login :nth-child(3) {
  font-size: 1em;
  cursor: pointer;
  padding: 0.5em 1em;
}

.nav-container .log-in .container-login p:hover {
  transition: 0.1s;
  transform: translate(-2px, -1px);
  background-color: #ffebeb;
  border-radius: 0.5em;
}

.nav-container .log-in .container-login :nth-child(3):hover {
  background-color: #006cf9;
}

/* CONTAINER JUMBOTRON */

/* KIRI  */
.jumbotron {
  margin-top: 95px;
  min-height: 100vh;
  background-color: #eaf1f1;
}

.container-mid {
  padding: 30px;
}

.container-jumbotron .list {
  display: flex;
  justify-content: center;
  gap: 10em;
}

.container-jumbotron .human {
  background-image: url(foto/strobery.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 7px 7px 0 black;
  width: 20em;
  height: 20em;
  padding: 0.5em;
  transition: 0.3s;
}

.container-jumbotron .human:hover {
  transform: scale(1.1);
}

.human.switch {
  animation: fadeIn 0.5s;
}

/* KANAN ATAS */

.container-jumbotron .kanan-atas p {
  font-size: 2em;
  font-family: sans-serif;
}

/* KANAN TENGAH */

.kanan-tengah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kanan-tengah .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 1em;
}

.kanan-tengah .container .kotak {
  width: 10em;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 7px 7px 0 black;
  cursor: pointer;
  transition: 0.2s;
}

.kanan-tengah .container .kotak:hover {
  transform: translateY(-5px);
  box-shadow: 9px 9px 0 black;
}

.kanan-tengah .container .kotak-1 .image-1 {
  cursor: pointer;
  width: 8.5em;
  height: 8.5em;
  background-image: url(foto/strobery.jpg);
  background-position: center 20%;
  background-size: cover;
}
.kanan-tengah .container .kotak-2 .image-2 {
  cursor: pointer;
  width: 8.5em;
  height: 8.5em;
  background-image: url(foto/CAMERA.jpg);
  background-position: center 20%;
  background-size: cover;
}
.kanan-tengah .container .kotak-3 .image-3 {
  cursor: pointer;
  width: 8.5em;
  height: 8.5em;
  background-image: url(foto/wee.jpg);
  background-position: center 20%;
  background-size: cover;
}

.kanan-tengah .container .kotak a {
  padding: 7px;
  border-radius: 0.2em;
  color: white;
  display: block;
  width: 50%;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: auto;
  background-color: #1d78f0;
}

.kanan-tengah .container .kotak a:hover {
  background-color: #006cf9;
}

/* CONTAINER MARKETPLACE */

/* BARIS PERTAMA SLIDER */
.container-market {
  width: 100%;
}

.container-market p {
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
}

.container-market .image-slider {
  position: relative;
  background-color: red;
  margin: auto;
  max-width: 30em;
  min-height: 30em;
  background-image: url(foto/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.container-market .image-slider * {
  box-sizing: border-box;
}

.container-market .image-slider .caption {
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0), black);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  text-align: center;
}

.container-market .image-slider .caption h1 {
  margin: 0;
  color: #fff;
}

.container-market .image-slider .caption p {
  color: #8a8a8a;
}

.container-market .image-slider .arrow-left,
.container-market .image-slider .arrow-right {
  background-color: #fff;
  position: absolute;
  top: 40%;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.container-market .image-slider .arrow-left:hover,
.container-market .image-slider .arrow-right:hover {
  background-color: #000;
  color: #fff;
}

.container-market .image-slider .arrow-left {
  right: 100%;
}

.container-market .image-slider .arrow-right {
  left: 100%;
}

.container-market .image-slider.img {
  animation: marketPlace 0.5s;
}

/* BARIS KEDUA */

.container-market .container-fluid .ps .p {
  font-size: 5em;
  text-transform: capitalize;
}

.container-market .container-fluid .images-1 {
  width: 80em;
}

.container-market .container-fluid .container-sport .card-body .sport {
  width: 22em;
  height: 15em;
  background-image: url(foto/sport2.jpg);
  background-position: center 30%;
  background-size: cover;
}

.container-market .container-fluid .container-camera .card-body .camera {
  width: 22em;
  height: 15em;
  background-image: url(foto/CAMERA.jpg);
  background-position: center;
  background-size: cover;
}

.container-market .container-fluid .container-strobery .card-body .strobery {
  width: 22em;
  height: 15em;
  background-image: url(foto/strobery.jpg);
  background-position: center;
  background-size: cover;
}

/* FOOTER */

footer {
  padding: 100px;
  background-color: rgb(0, 255, 30);
}

footer .container {
  background-color: blue;
  display: flex;
}

/* animation */

/* IMAGE GALERY JUMBOTRON */
@keyframes fadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes marketPlace {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
