* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  position: relative;
  /* height: 2000px; */
}

/* CONTAINER-NAVBAR */

.nav-container {
  padding: 20px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.logo {
  border-bottom: 1px solid white;
  color: rgb(255, 255, 255);
  width: 250px;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-family: sans-serif;
  letter-spacing: 6px;
}

.logo span {
  transition: 0.2s;
}

.logo span:hover {
  transform: scale(2);
  color: white;
  cursor: grab;
}

/* MENU BAGIAN TENGAH */

.menu .menu-cover {
  text-transform: uppercase;
  font-family: sans-serif;
  display: flex;
  justify-content: space-evenly;
}

.menu .menu-cover p {
  border-radius: 0.5em;
  padding: 0.5em;
  color: white;
}

.menu .menu-cover p:hover {
  color: white;
  cursor: grab;
  border-top-left-radius: 0;
  transition: 0.1s;
  transform: translate(-2px, -1px);
  background-color: rgb(69, 197, 0);
  border-radius: 1em;
}

.menu .menu-cover a {
  color: white;
  text-decoration: none;
}

.menu .menu-cover a:hover {
  color: white;
}

/* BOX TOGGLE */
.nav-container .box.toggle {
  display: flex;
  position: absolute;
  top: 100%;
  background-color: rgb(16, 16, 244);
}

.nav-container .box.toggle {
  display: none;
}

/* MENU HAMBURGER */
.nav-container #hamburger {
  display: none;
}

.nav-container .menu-slide {
  border-top-left-radius: 1em;
  width: 20em;
  min-height: 100vh;
  background-color: rgba(30, 144, 255, 0.6);
  position: absolute;
  top: 100%;
  right: -500px;
  transition: 0.2s;
}

.nav-container .menu-slide .container {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
  padding: 2em;
}

/* ! nav kiri */

.nav-left {
  border-right: 1px solid wheat;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  z-index: 999;
  background: radial-gradient(
    circle farthest-corner at top left,
    rgb(164, 36, 36),
    rgb(21, 21, 136)
  );
  padding-top: 4em;
  text-align: center;
  font-size: 2em;
}

.nav-left a {
  color: white;
  display: block;
  text-decoration: none;
}

.nav-left a:hover {
  cursor: pointer;
  background-color: rgba(0, 198, 0, 0.589);
  border-radius: 1em;
}

/* MENU BAGIAN KANAN */

.nav-container .log-in {
  display: flex;
  justify-content: center;
}

.nav-container .log-in .container-login {
  color: black;
  font-family: sans-serif;
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.nav-container .log-in .container-login p {
  font-size: 1em;
  cursor: grab;
  padding: 0.5em 1em;
  color: white;
}

.nav-container .log-in .container-login p:hover {
  color: white;
  transition: 0.1s;
  transform: translate(-2px, -1px);
  background-color: rgb(14, 168, 0);
  border-radius: 0.5em;
}

.nav-container .log-in .container-login :nth-child(3):hover {
  background-color: rgb(26, 175, 0);
}

/* SHOPPING-CART */
.nav-container #shopping-cart {
  position: relative;
  display: flex;
  justify-content: end;
}

.nav-container #shopping-cart .i {
  color: #000000;
  cursor: grab;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container #shopping-cart .jumlah {
  position: absolute;
  color: white;
  padding: 0 0.5em;
  border-radius: 0.5em;
  top: -10px;
  right: 0;
  background-color: dodgerblue;
}

/* SHOPPING-CART SLIDE-SHOP */
.nav-container #shopping-cart .slide-shop {
  display: none;
  border-radius: 1em;
  background-color: rgba(114, 114, 114, 0.3);
  width: 30em;
  position: absolute;
  top: 100%;
  right: 100%;
  overflow-y: scroll;
}

.nav-container #shopping-cart .slide-shop .container-krj {
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-family: sans-serif;
}

.nav-container #shopping-cart .slide-shop .container-krj .head {
  background-color: rgb(40, 209, 46);
  margin: 0.4em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.nav-container #shopping-cart .slide-shop .container-krj .foot {
  display: flex;
  justify-content: space-between;
  margin: 1em 1em;
  border-top: 1px black solid;
  padding: 1em 0;
}

/*! CART ITEM */

.nav-container #shopping-cart .slide-shop .container-krj #cartItem .cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
  border-radius: 3px;
  margin: 10px 10px;
}

.nav-container
  #shopping-cart
  .slide-shop
  .container-krj
  #cartItem
  .cart-item
  .row-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  border-radius: 50px;
  border: 1px solid white;
}

.nav-container
  #shopping-cart
  .slide-shop
  .container-krj
  #cartItem
  .cart-item
  .row-img
  .rowing {
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
}

.nav-container
  #shopping-cart
  .slide-shop
  .container-krj
  #cartItem
  .cart-item
  .delete {
  cursor: pointer;
  background-color: #0df0245c;
  padding: 0.5em;
  border-radius: 1em;
}

.nav-container
  #shopping-cart
  .slide-shop
  .container-krj
  #cartItem
  .cart-item
  .delete:hover {
  background-color: #0df024b0;
}

/* KONTAK WHATSAPP */
.container-contact {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}

.container-contact .contact-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-contact .contact {
  position: relative;
  border-radius: 1em;
  width: 50%;
  background-color: rgb(255, 255, 255);
}

.container-contact .contact p {
  margin-bottom: 0;
  font-size: 1.5em;
  text-transform: capitalize;
  color: rgb(27, 177, 27);
}

.container-contact .contact a .whatsapp {
  cursor: grab;
  border-radius: 1em;
  margin: 1em auto;
  width: 50%;
  height: 20em;
  background-image: url(foto/wa.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-contact .contact .close {
  background-color: rgba(36, 141, 62, 0.493);
  position: absolute;
  left: 100%;
  bottom: 100%;
  color: white;
  text-align: center;
  cursor: grab;
  width: 2em;
  height: 2em;
  transition: 0.2s;
}

.container-contact .contact .close:hover {
  background-color: rgba(36, 141, 62, 0.3);
  border-top-left-radius: 1em;
}
/* END KONTAK WHATSAPP */

/* CONTAINER JUMBOTRON */
/* KIRI  */
.jumbotron {
  background-color: rgb(26, 27, 31);
  padding-left: 300px;
  padding-top: 100px;
  min-height: 100vh;
}

.container-jumbotron .list {
  display: flex;
  justify-content: space-around;
}

.container-jumbotron .human {
  width: 30em;
  height: 30em;
  padding: 0.5em;
  transition: 0.3s;
}

.container-jumbotron .human:hover {
  transform: scale(1.1);
}

.human.switch {
  animation: fadeIn 0.4s;
}

/*! JUMBOTRON-MID KANAN ATAS */

.container-jumbotron .kanan-atas p {
  font-size: 2em;
  font-family: sans-serif;
  text-transform: capitalize;
  text-align: center;
  color: white;
  border-radius: 1em;
}

/*! KANAN TENGAH */

.kanan-atas #kanan-tengah {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-jumbotron .kanan-atas #kanan-tengah .box {
  margin: 1em;
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(0, 140, 33);
  border-radius: 1em;
}

.container-jumbotron .kanan-atas #kanan-tengah .box .img-box .imagesz {
  cursor: grab;
  width: 225px;
  height: 180px;
  border-radius: 1em;
  filter: brightness(80%);
}

.container-jumbotron .kanan-atas #kanan-tengah .box .img-box .imagesz:hover {
  filter: brightness(100%);
}

.container-jumbotron .kanan-atas #kanan-tengah .box .bottom {
  width: 100%;
}

.container-jumbotron .kanan-atas #kanan-tengah .box .bottom p {
  margin: 0;
}

.container-jumbotron .kanan-atas #kanan-tengah .box .bottom button {
  background-color: green;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 7px 25px;
  cursor: pointer;
  color: white;
}

.container-jumbotron .kanan-atas #kanan-tengah .box .bottom button:hover {
  background-color: rgb(0, 185, 0);
}

/* CONTAINER MARKETPLACE */

/* BARIS PERTAMA SLIDER */
.container-market {
  width: 100%;
}

.container-market p {
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  color: white;
}

.container-market .image-slider {
  position: relative;
  margin: 3em auto;
  max-width: 30em;
  min-height: 30em;
  background-image: url(foto/nastar1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.container-market .image-slider * {
  box-sizing: border-box;
}

.container-market .image-slider .caption {
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0), black);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  text-align: center;
}

.container-market .image-slider .caption h1 {
  margin: 0;
  color: rgb(16, 160, 0);
}

.container-market .image-slider .caption p {
  color: #636363;
}

.container-market .image-slider .arrow-left,
.container-market .image-slider .arrow-right {
  background-color: #fff;
  position: absolute;
  top: 40%;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.container-market .image-slider .arrow-left:hover,
.container-market .image-slider .arrow-right:hover {
  background-color: #000;
  color: #fff;
}

.container-market .image-slider .arrow-left {
  right: 100%;
}

.container-market .image-slider .arrow-right {
  left: 100%;
}

.container-market .image-slider.img {
  animation: marketPlace 0.5s;
}

/* BARIS KEDUA */

.container-market .container .ps .p {
  text-align: center;
  font-size: 5em;
  text-transform: capitalize;
  background-color: #4b4b4b74;
  color: rgba(255, 255, 255, 0.791);
  border-radius: 0.5em;
}

.container-market .container .ss {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 650px;
}

.container-market .container .images-1 .a,
.container-market .container .images-2 .a {
  padding: 0;
}

.container-market .container .images-1 .a .container-sport,
.container-market .container .images-2 .a .container-sport {
  width: 200px;
  padding: 0.2em;
}

.container-market .container .images-1 .a .container-sport .card-bodi .sport,
.container-market .container .images-2 .a .container-sport .card-bodi .sport {
  filter: brightness(80%);
  height: 14em;
  width: 100%;
}

.container-market .container .images-1 .a .container-sport .card-bodi p,
.container-market .container .images-2 .a .container-sport .card-bodi p {
  margin: 0;
  color: black;
}

.container-market
  .container
  .images-1
  .a
  .container-sport
  .card-bodi
  .sport:hover,
.container-market
  .container
  .images-2
  .a
  .container-sport
  .card-bodi
  .sport:hover {
  filter: brightness(100%);
}

/* ! LIGHTBOX */

.container-lightBox {
  display: none;
  position: fixed;
  background-color: rgb(30, 30, 30, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0;
  z-index: 999999;
}

.container-lightBox .gambar-1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-lightBox .contain {
  position: relative;
  background-color: rgb(108, 108, 108, 0.7);
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-lightBox .contain img {
  width: 50%;
  height: 100%;
}

.container-lightBox .contain .close {
  padding: 0 0.5em;
  position: absolute;
  bottom: 100%;
  left: 100%;
  z-index: 99999;
  background-color: green;
  font-size: 2em;
  cursor: pointer;
}

.container-lightBox .contain .close:hover {
  border: 1px solid white;
  color: white;
}

/* ! FOOTER */
.footer {
  position: relative;
  z-index: 9999;
  padding: 2em;
  background-color: rgb(47, 53, 72);
  color: black;
}

/* ! kiri */

.footer .container-fluid .bungkus {
  display: flex;
  gap: 2em;
}

.footer .container-fluid .bungkus #no-1 {
  border: 1px white solid;
  background-color: rgb(37, 50, 37);
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  color: white;
}

/* ! tengah */

.footer .container-fluid .bungkus #no-2 {
  border: 1px white solid;
  background-color: rgb(39, 27, 40);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  border-radius: 1em;
  padding: 0.5em;
}

.footer .container-fluid .bungkus #no-2 img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* ! kanan */

.footer .container-fluid .bungkus #no-3 {
  border: 1px white solid;
  background-color: rgb(40, 43, 56);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1em;
  padding: 0.5em;
  color: white;
}

.footer .container-fluid .bungkus #no-3 a {
  text-decoration: none;
  display: block;
  color: white;
  font-size: 1.3em;
  text-transform: capitalize;
}

.footer .container-fluid .bungkus #no-3 a:hover {
  color: rgb(64, 255, 6);
}

/* animation */

/* IMAGE GALERY JUMBOTRON */
@keyframes fadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scaleY(1);
  }
}

@keyframes marketPlace {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

/* responsive */

/* layar laptop */

@media screen and (max-width: 1024px) {
  .jumbotron {
    padding-top: 50px;
    padding-left: 220px;
    min-height: 100vh;
  }

  .jumbotron-produk {
    padding-top: 50px;
    padding-left: 200px;
    min-height: 100vh;
  }

  /* ! kanan tengah */

  .kanan-atas #kanan-tengah {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container-jumbotron .kanan-atas #kanan-tengah .box {
    width: 150px;
    font-size: 0.5em;
  }

  .container-jumbotron .kanan-atas #kanan-tengah .box .img-box .imagesz {
    width: 150px;
    height: 120px;
  }

  .container-jumbotron .kanan-atas #kanan-tengah .box .bottom p {
    margin: 0;
  }

  .container-jumbotron .kanan-atas #kanan-tengah .box .bottom button {
    font-size: 2em;
    background-color: rgba(0, 128, 0, 0.332);
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1px 25px;
    cursor: pointer;
    color: white;
  }

  /* ! end  */

  /* ! produk */

  .container-market .container .ss {
    width: 100%;
  }

  .container-market .container .images-1 .a .container-sport,
  .container-market .container .images-2 .a .container-sport {
    width: 150px;
    padding: 0.2em;
  }

  .container-market .container .images-1 .a .container-sport .card-bodi .sport,
  .container-market .container .images-2 .a .container-sport .card-bodi .sport {
    filter: brightness(80%);
    height: 10em;
    width: 100%;
  }

  /* produk-card-jumbo2 */
  .jumbotron-produk .produk-br-1 .produkss .card {
    width: 70%;
    margin: auto;
  }

  /* ! nav kiri */

  .nav-left {
    width: 200px;
  }
}

/* layar ipad */
@media screen and (max-width: 768px) {
  /* NAVBAR */
  .nav-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 30px;
  }

  .nav-container .menu {
    display: none;
  }

  /* HAMBURGER-MENU */
  .nav-container #hamburger {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  /* SHOPPING-CART */
  .nav-container #shopping-cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* NAVBAR MENU-LOGIN */
  .nav-container .log-in {
    display: none;
  }

  .container-jumbotron .list {
    flex-wrap: wrap;
    gap: 1em;
  }

  .container-market .container .container-sport {
    width: 70%;
    margin: auto;
  }

  .container-market .container .container-sport .card-bodi p {
    font-size: 1em;
  }
}
/* layar handphone */

@media screen and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }

  .jumbotron {
    padding: 0;
  }

  .container-jumbotron .human {
    width: 100%;
    height: 20em;
    padding: 0.5em;
    transition: 0.3s;
  }

  .container-market .image-slider {
    position: relative;
    margin: auto;
    width: 25em;
    height: 25em;
    background-image: url(foto/nastar1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
  }
}
