* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
}

/* CONTAINER-NAVBAR */

.nav-container {
  background-color: white;
  padding: 20px;
  height: 3.5rem;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: auto;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.logo {
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 2em;
  font-family: sans-serif;
  justify-content: center;
  letter-spacing: 6px;
}

.logo span {
  transition: 0.3s;
}

.logo span:hover {
  transform: scale(2);
}

/* MENU BAGIAN TENGAH */

.menu {
  display: flex;
  justify-content: center;
  align-items: end;
}

.menu .menu-cover {
  text-transform: uppercase;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.menu .menu-cover p {
  color: rgb(0, 0, 0);
  margin: 2px 4px;
  padding: 0 1em;
  border-top-left-radius: 0.5em;
  box-shadow: 0 0 2px blue;
}

.menu .menu-cover p:hover {
  cursor: pointer;
  border-top-left-radius: 0;
  transition: 0.2s;
  transform: translate(-2px, -1px);
  box-shadow: 2px 1px 5px blue;
}

.menu .menu-cover .kontak p {
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
}

.menu .menu-cover .box {
  position: absolute;
  background-color: rgb(120, 120, 167);
  padding: 2em;
}

.menu .menu-cover .toggle {
  display: none;
}

.menu .menu-cover .box .kolom {
  display: flex;
}

/* MENU BAGIAN KANAN */

.nav-container .log-in {
  display: flex;
  justify-content: center;
}

.nav-container .log-in .container-login {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  border-top-left-radius: 1em;
  box-shadow: 0 0 5px blue;
  display: flex;
  width: 500px;
  justify-content: space-evenly;
  align-items: center;
}

.nav-container .log-in .container-login p:hover {
  border-top-left-radius: 0;
  transition: 0.1s;
  transform: translate(-2px, -1px);
  box-shadow: 2px 1px 3px blue;
}

.nav-container .log-in .container-login :nth-child(1),
.nav-container .log-in .container-login :nth-child(2) {
  border-top-left-radius: 0.5em;
  cursor: pointer;
  padding: 0.5em 1em;
  border: 1px solid blue;
}

.nav-container .log-in .container-login :nth-child(3) {
  color: white;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: blue;
}

/* CONTAINER JUMBOTRON */

.jumbotron {
  margin-top: 95px;
  min-height: 100vh;
  background-color: #eaf1f1;
}

.container-mid {
  padding: 30px;
}

.container-jumbotron {
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "left right"
    "left kanantengah"
    "left kananbawah";
  justify-items: center;
  align-items: center;
  gap: 5px;
}

.left {
  grid-area: left;
  cursor: pointer;
  transition: 0.5s;
}

.left img {
  padding: 2px;
  border: 1px solid rgb(0, 0, 0);
  width: 50em;
}

.left:hover {
  transform: scale(1.1);
}

/* KANAN ATAS */

.container-jumbotron .kanan-atas p {
  font-size: 2em;
  font-family: sans-serif;
}

.container-jumbotron .kanan-atas :nth-child(1) {
  display: flex;
  justify-content: center;
}

/* KANAN TENGAH */

.kanan-tengah {
  grid-area: kanantengah;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kanan-tengah .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  gap: 3em;
}

.kanan-tengah .container .kotak {
  padding: 1em;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 7px 7px 0 black;
  cursor: pointer;
  width: 150px;
  transition: 0.2s;
}

.kanan-tengah .container .kotak:hover {
  transform: translateY(-5px);
  box-shadow: 9px 9px 0 black;
}

.kanan-tengah .container .kotak img {
  margin-bottom: 5px;
  width: 150px;
  height: 100px;
}

.kanan-tengah .container .kotak a {
  padding: 7px;
  border-radius: 0.2em;
  color: white;
  display: block;
  width: 50%;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  font-family: sans-serif;
  text-transform: uppercase;
  margin: auto;
  background-color: #1d78f0;
}

.kanan-tengah .container .kotak a:hover {
  background-color: #006cf9;
}

.fade {
  animation: fade 1s;
}

/* CONTAINER MARKETPLACE */

.container-market {
  width: 100%;
}

.container-market p {
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
  padding: 0.5em;
}

.container-market .market {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-market .market .foto1 img {
  width: 20em;
  box-shadow: -2px 0 4px rgb(173, 182, 129), 2px 0 4px rgb(173, 182, 129);
}

.container-market .market .foto2 img {
  width: 20em;
}

/* FOOTER */

footer {
  padding: 100px;
  background-color: rgb(0, 255, 30);
}

footer .container {
  background-color: blue;
  display: flex;
}

/* animation */
@keyframes fade {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
