* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaf1f1;
}

.container-body .p {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 10px auto;
  text-align: center;
  border-radius: 1em;
  padding: 10px;
  width: 200px;
  color: white;
  background-color: dodgerblue;
}

.container-body {
  min-height: 100vh;
  padding: 20px 0;
}

.container-body .image {
  width: 100%;
  height: 500px;
  background-image: url(../foto/CAMERA.jpg);
  background-position: center -250px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.container-body .image .chevron {
  transition: 0.1s;
}

.container-body .image .chevron:hover {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: dodgerblue;
}

.container-body .container-images {
  padding: 50px 0;
}

.container-body .container-images .row {
  padding: 10px;
  margin-bottom: 10px;
}

.container-body .container-images .card-body .image {
  margin: auto;
  width: 100%;
  height: 15em;
  background-image: url(../foto/1.png);
  background-position: center;
  background-size: cover;
}
.container-body .container-images .card-body .image-2 {
  background-image: url(../foto/CAMERA.jpg);
}

.container-body .container-images .card-body .image-3 {
  background-image: url(../foto/sport2.jpg);
  background-position: center -70px;
  background-size: cover;
}

.container-body .container-images .card-body .image-4 {
  background-image: url(../foto/strobery.jpg);
}

.container-body .container-images .card-body .image-5 {
  background-image: url(../foto/wa.png);
}
.container-body .container-images .card-body .image-6 {
  background-image: url(../foto/coffe\ 1.jpg);
}
.container-body .container-images .card-body .image-7 {
  background-image: url(../foto/coffe\ 2.jpg);
}
.container-body .container-images .card-body .image-8 {
  background-image: url(../foto/sport3.jpg);
}
.container-body .container-images .card-body .image-9 {
  background-image: url(../foto/sport4.jpg);
}
