* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaf1f1;
}

.container-body .p {
  text-transform: capitalize;
  font-size: 2rem;
  margin: 10px auto;
  text-align: center;
  border-radius: 1em;
  padding: 10px;
  width: 200px;
  color: white;
  background-color: dodgerblue;
}

.container-body {
  padding: 20px 0;
}

.container-body .image {
  width: 100%;
  height: 500px;
  background-image: url(../foto/CAMERA.jpg);
  background-position: center -250px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.container-body .image .chevron {
  transition: 0.1s;
}

.container-body .image .chevron:hover {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: dodgerblue;
}

.container-body .container-images {
  padding: 50px 0;
}

.container-body .container-images .row {
  padding: 10px;
  margin-bottom: 10px;
}
